# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints

# Virtual Environments
.venv/
venv/
ENV/
env/

# Flask Instance folder (for local configurations)
instance/

# Local Environment Variables
.env
.flaskenv

# IDE / Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db
